.day {
    width: 204px;
    height: 120px;
    border: 1px solid #DADCE0;
    padding: 0.5rem;

    .label {
        font-size: 14px;
        font-weight: 400;
        color: #717171;
        margin-bottom: 1rem;
    }
}

.day:hover {
    background-color: #EDE7D6;
}

.day:has(.event) {
    background: #c7f5d9;
    cursor: pointer;
}

.day:has:hover {
    background-color: initial;
}