.slds-popover__form textarea,
.slds-popover__form input {
    border-color: #DDDBDA;
    font-size: 12px;
}

.slds-popover__form input:read-only {
    background-color: #dddddd;
    color: #a0a5aa;
    cursor: not-allowed;
    border: 1px solid #ddd;
    padding-left: 10px;
}

.slds-popover__form button {
    font-size: 12px;
}

.slds-popover__form textarea {
    height: 80px;
}

.button_blue:not(:disabled) {
    background: #0C41FF;
    border-color: #0C41FF;
}

.event-popover__result-date {
    font-size: 14px;
    color: #333333;
}

.event-popover__result-participants {
    display: flex;
    flex-direction: column;
}

.event-popover__result-participants-title {
    color: #717171;
    font-size: 12px;
}

.event-popover__result-participants-list {
    font-size: 14px;
}

.slds-popover_panel.slds-nubbin_left-top {
    --slds-g-color-neutral-base-95: white;
}