.button_blue {
    background: #0C41FF;
    border-color: #0C41FF;
}

.button_blue:disabled {
    background-color: #b2aeaa;
    border-color: #b2aeaa;
    color: white;
}

.search-suggestions input,
.search-suggestions button {
    font-size: 13px;
}