.event {
  text-wrap: nowrap;
  padding: 4px;
  border-radius: 4px;
  font-size: 10px;
  max-height: 66px;
  line-height: 1.5em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.description {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}