.calendar-header {
    height: 77px;
    align-items: center;
}

.calendar-header .nav-button {
    height: 2rem;
}

.calendar-header button,
.calendar-header input {
    font-size: 12px;
    padding: 2px 10px;
}
.calendar-header button:disabled {
    background-color: darkgrey;
    cursor: not-allowed;
}
.today {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    height: 26px;
}

.today:hover {
    background-color: darkgrey;
}

.calendar-header__label {
    font-size: 30px;
    width: 230px;
    text-align: center;
}



.suggestion-list {
    /* padding: 4px 0; */

    .title {
        overflow: hidden;
        font-size: 12px;
        font-weight: 400;
        color: black;
    }

    .date {
        font-size: 10px;
    }

    .a {
        color: #757575;
        text-decoration: none;
    }
}

.suggestion-list__item {
    height: 34px;
    padding: 0 12px;
    border: 1px solid #F5F5F5;
}

.suggestion-list__item:hover {
    background-color: #EFF6FF;
}

.suggestion-list__link {
    text-decoration: none;
}

.slds-theme_blue {
    background: #0C41FF;
    border-color: #0C41FF;
}

.custom-btn-icon {
    border: 1px solid #D9D9D9;
}

.custom-btn button {
    --slds-c-button-brand-color-background: #0C41FF;
}

.slds-theme_blue:hover,
.slds-theme_outline-blue:hover {
    background: #00a472;
    border-color: #00a472;
    outline: none;
}

.slds-theme_outline-blue {
    background: #fff;
    border-color: #0C41FF;
}

.slds-theme_outline-blue:hover {
    color: #fff;
}