.calendar-header {
    height: 77px;
    align-items: center;
}

.calendar-header__nav-left,
.calendar-header__nav-right {
    display: flex;
    align-items: center;
}

.calendar-header button,
.calendar-header input {
    font-size: 12px;
    padding: 2px 10px;
}

.calendar-header button:disabled {
    background-color: darkgrey;
    cursor: not-allowed;
}

.calendar-header__today-btn {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    height: 26px;
}

.calendar-header__today-btn:hover {
    background-color: darkgrey;
}

.calendar-header__label {
    font-size: 30px;
    width: 230px;
    text-align: center;
}

.calendar-header__suggestions {
    margin: 0;
    padding: 4px 0;
    list-style: none;
}

.calendar-header__suggestion-item {
    height: 34px;
    padding: 0 12px;
    border: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #717171;
}

.slds-dropdown__link {
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-header__suggestion-item:hover {
    background-color: #EFF6FF;
}

.calendar-header__suggestion-title {
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

.calendar-header__suggestion-date {
    font-size: 10px;
    color: #757575;
    display: block;
}

.button_blue:not(:disabled) {
    background: #0C41FF;
    border-color: #0C41FF;
}

.custom-btn-icon {
    border: 1px solid #D9D9D9;
}

.custom-btn button {
    --slds-c-button-brand-color-background: #0C41FF;
}

.button_outline-blue {
    background: #fff;
    border-color: #0C41FF;
}

.button_outline-blue:hover {
    color: #fff;
}