.calendar-header {
    height: 77px;
    align-items: center;
}

.calendar-header .nav-button {
    height: 2rem;
}

.calendar-header button:disabled {
    background-color: darkgrey;
    cursor: not-allowed;
}

.slds-theme_blue {
    background: #0C41FF;
    border-color: #0C41FF;
}

.slds-theme_blue:hover,
.slds-theme_outline-blue:hover {
    background: #00a472;
    border-color: #00a472;
    outline: none;
}

.slds-theme_outline-blue {
    background: #fff;
    border-color: #0C41FF;
}

.slds-theme_outline-blue:hover {
    color: #fff;
}